@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 
  --bg-color: #fefefe;
  background-color: var(--bg-color);
  color: var(--body-color);
  height: 100%;
  overflow-x: hidden;
  --container-padding: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
